
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HMA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> &nbsp;
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" routerLink="/dashboard">Dashboard</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="pi pi-book" style="font-size: 1.5rem" routerLink="/dashboard"></i>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard">Clients</a>&nbsp;&nbsp;&nbsp;
            <i class="pi pi-user" style="font-size: 1.5rem" routerLink="/dashboard"></i>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Document</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="pi pi-file" style="font-size: 1.5rem"></i>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Tasks</a>&nbsp;&nbsp;&nbsp;
          <i class="pi pi-list" style="font-size: 1.5rem"></i>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="">payments</a>&nbsp;&nbsp;&nbsp;
        <i class="pi pi-credit-card" style="font-size: 1.5rem"></i>
    </li>
      </ul>
    </div>
  </div>
</nav>



 
